.menu {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1.6rem;
}

.menuLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--text-over-primary);
    transition: all 0.1s ease-in-out;
    padding: 1rem;
    border-radius: 0.8rem;
}

.menuLink:hover {
    filter: brightness(80%);
}
.menu svg {
    width: 2.4rem;
    height: 2.4rem;
}