.input {
    background-color:  transparent;
    border: none;
    text-align: center;
    font-size: 1.8rem;
    padding: .8rem;
    color: var(--text-default);
    outline: none;

    border: .2rem solid transparent;
    border-bottom: .2rem solid var(--primary);
    transition: all .1s ease-in-out;
}

.label {
    color: var(--text-default);
    font-weight: bold;
}

.input:focus {
    border-radius: .8rem;
    border: .2rem solid var(--primary);
}
.input::placeholder {
    color: var(--gray-500);
    font-size: 1.4rem;
    font-style: italic;
}
.input:disabled {
    border-bottom: .2rem solid var(--disabled);
    color: var(--text-muted);
}